.wp-block-query-loop {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100% !important;
    max-width: 1200px !important;
    margin: 0 auto;
}

.wp-block-post {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    background: #fff;
    width: auto;
    padding-bottom: 7vh;
}

.wp-block-post-template {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 90%;
    margin: auto;
}

.editor-styles-wrapper ul.wp-block-post-template {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 90vw;
    margin: auto;
}

:root :where(.is-layout-flow) > :first-child {
    margin-block-start: 0;
}

.wp-block-post.post-305.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-uncategorized {
    margin-top: 2.8vh !important;
}

.wp-block-post-title.has-x-large-font-size {
    padding-right: 0;
    padding-left: 0vw;
    margin-right: var(--wp--preset--spacing--80);
    margin-left: var(--wp--preset--spacing--80);
    text-align: center;
    display: block;
    width: 100%;
}

.block-editor-block-list__block.wp-block.woocommerce.wc-block-breadcrumbs.has-small-font-size.alignwide.wp-block-woocommerce-breadcrumbs {
    font-size: 14px;
    color: #ff0000;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 5px 0;
}

.single_add_to_cart_button {
    background-color: #0f0142 !important;
    border-radius: 10px;
}

.quantity .input-text.qty {
    border: 2px solid #000 !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
}
